<% if (user) { %><nav class="topbar"><a class="brand" href="<%= superAdminMode?'/super-admin':'/' %>"><span class="brand-mark"><img src="/icon.svg" alt=""></span><span>Musalla</span></a><a class="avatar" href="/profile" aria-label="Profile"><% if(user.avatar_url){ %><img src="<%= user.avatar_url %>" alt=""><% } else { %><%= user.name.slice(0,1).toUpperCase() %><% } %></a></nav><% } %>
<% if (notice) { %><div class="notice"><%= notice %></div><% } %>
